body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin-top: 0;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid seashell;
  align-items: center;
  opacity: 1;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  margin-left: 10px;
}

.logo img {
  width: 150px;
}

nav {
  align-content: center;
}
.logonav span {
  display: inline-block;
  text-decoration: underline;
}

.links {
  padding: 0 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 69px;
}

.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
}

.missionbanner {
  background-color: black;
  width: 100%;
}

.menu {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.items {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px 10px;
}

.item {
  width: 300px;
  padding: 10px 10px;
}

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
}

.locations h2 {
  width: 100%;
  margin-bottom: 0;
}

.addressbox {
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
  margin-top: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.contact {
  height: 200px;
}

.footer {
  text-align: left;
  margin-left: 20px;
}
