body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  margin-left: 10px;
}

.logo img {
  width: 150px;
}

nav {
  align-content: center;
}
.logonav span {
  display: inline-block;
  text-decoration: underline;
}

.links {
  padding: 0 20px;
  color: white;
}
